/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 16 Aug 2022, 13:23:08
    Author     : Henry Pinn
*/

:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

/*ul {
    font-family: helvetica;
}
*/

li {
    list-style: circle;
}

.list {
    list-style: square;
}

/*#msg {
    font-family: monospace;
}
*/
.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.homeBtn {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 108px;
    width: 108px;
    background-color: #11c4d1;
    font-family: Gill;
    font-size: 27px;
    transform: translate(-8%, -8%);
}

.messageIcon {
    position: absolute;
    top: 108px;
    left: 0px;
    height: 108px;
    width: 108px;
    transform: translate(-8%, -8%);
}

.micIcon {
    position: absolute;
    top: 216px;
    left: 0px;
    height: 108px;
    width: 108px;
    transform: translate(-8%, -8%);
}

.recentSites1 {
    position: absolute;
    top: 324px;
    left: 0px;
    font-size: 26px;
    transform: translate(-8%, -8%);
}
.recentSites2 {
    position: absolute;
    top: 350px;
    left: 13px;
    font-size: 26px;
    transform: translate(-8%, -8%);
}

.mainSideControls {
    position: fixed;
    z-index: 2;
    top: 9px;
    left: 8px;
    
}

.mainBottomControls {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 108px;
    width: 1812px;
    height: 108px;  
}

.profileBox {
    width: 324px;
    height: 108px;
}

.profilePicBox {
    position: absolute;
    width: 108px;
    height: 108px;
}
#userProfilePic {
    width: 108px;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

.userDetailsBox {
    position: absolute;
    height: 108px;
    width: 216px;
    top: 0;
    left: 108px;
}

#username {
    position: absolute;
    float: top;
    top:11px;
    font-weight: bold;
}
#userRating {
    position: absolute;
    width: auto;
    top: 32px;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
}

.userInputBox {
    position:absolute;
    width: 540px;
    float: top;
    top: 0;
    left: 324px;
    height: 108px;
    z-index: 3;
}

.InputBox {
    position: absolute;
    padding: 0;
    top: 16px;
    left: 54px;
    width: 432px;
}

#userTextInput {
    height: 36px;
    width: 432px;
    box-sizing: border-box;
}
#userFileInput {
    height: auto;
    width: 432px;
}
#submitUserInput {
    position: absolute;
    left: 432px;
    top: 0;
    height:36px;
}


.secondarySideControls {
    position: absolute;
    width: 108px;
    height: 100%;
    float: right;
    right: 0;
    bottom: 0;
}
.callUserControlBox {
    position: absolute;
    width: 108px;
    height: 108px;
    float: bottom;
    float: right;
    bottom: 0;
    right: 0;
    z-index: 2;
    
}
.joinLeaveCall {
    position: absolute;
}
.userCallStatus {
    position: absolute;
    width: 108px;
    height: 108px;
    right: 0;
}

#userJoinLeaveCallBtn {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 108px;
    width: 108px;
    background-color: #11c4d1;
    font-family: Gill;
    font-size: 27px;
    
}

#vertRectangle1 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 108px;;
    background-color: #11c4d1;
    z-index: 1;
}
#vertRectangle2 {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 108px;;
    background-color: #11c4d1;
    z-index: 1;
}
#horiRectangle {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 108px;
    width: 100%;
    background-color: #11c4d1;
    z-index: 1;
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.content {
    padding: 16px;
    position: fixed;
    bottom: 108px;
    top: 0px;
    left: 100px;
    width: 87.5%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.examplePageTitleContainer {
    position:relative;
    width: 100%;
    height: 100px;
}
.examplePageTitle {
    font-size: 12vh;
}

.examplePageDescriptionContainer {
    position: relative;
    width: 100%;
    height: 75px;
    left: 100px; 
}
.examplePageDescription {
    font-size: 3vh;
}

.fullPage {
    animation: bodybg 2s 0s linear infinite alternate;
}

@keyframes bodybg{
  from   {background:red;}
  to     {background:blue;}
}

.loginBox {
    
    margin: auto;
    position: relative;
    top: 200px;
    width: 500px;
    height: 350px;
    background: white;
    opacity: 0.7;
}
.loginForm {
    margin: auto;
    position: relative;
    width: auto;
}

#usernameTitle {
    margin: auto;
    position: relative;
    width: auto;
}






/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}